@page "{id}"
@model GarbageCollection.RazorPages.Pages.Schema.Details

@using GarbageCollection.Core.Models

@{
    ViewBag.Title = "title";
}

<h2>@Model.ViewModel.CompanyName</h2>

<table class="table">
    <thead>
    <tr>
        <th>Dag</th>
        <th>Soort afval</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var schemaEntry in Model.ViewModel.Entries)
    {
        <tr>
            <td>@schemaEntry.PickupTime</td>
            <td>@schemaEntry.Garbage</td>
        </tr>
    }
    </tbody>
</table>